html {
  height: 100%;
  width: 100%;
}

body {
  background-color: SkyBlue;
}

h1 {
  background-color: rgb(170, 239, 248);
  color: hsl(198, 50%, 21%);
  padding: 10px;
  text-align: center;
}

p {
  background-color: #009dff;
   text-align:center;
  padding: 10px;
}

th {
  background-color: #bcd4dc;
  color: #195b70;
}

table {
  background-color: #2bbdee;
  text-shadow: #050e8f 1px 0 10px;
  text-align:center;
  padding: 10px;
}